/* .btn-gradient-3d {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    color: rgb(255 255 255 / 100%);
    text-shadow: -1px 0px 1px rgb(26 26 26);
    background-image: linear-gradient(to right, #F29600 0%, #EF9095 50%, #8F70AE 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #a33b3b;
}

.btn-gradient-3d:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.btn-square-emboss {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color:#668ad8;
    box-shadow:0px 2px 2px rgba(0, 0, 0, 0.29);
border-bottom: solid 3px #627295;
border-radius: 3px;
font-weight: bold;
text-shadow: -1px -1px rgba(255, 255, 255, 0.44),
1px 1px rgba(0, 0, 0, 0.38);

}
.btn-square-emboss:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn-gradient-3d {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    color: rgb(255 255 255 / 100%);
    text-shadow: -1px 0px 1px rgb(26 26 26);
    background-image: linear-gradient(to right, #F29600 0%, #EF9095 50%, #8F70AE 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #a33b3b;
}
.btn-gradient-3d:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}
.btn-square-emboss {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    
    color: #668ad8;
    
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #627295;
    border-radius: 3px;
    font-weight: bold;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}
.btn-square-emboss:active {

    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.container img {
    width: 200px;
}
*/
/* Ã£Ââ€œÃ£Ââ€œÃ£Ââ€¹Ã£â€šâ€°Ã¦Â¨Â¡Ã¥â€ â„¢Ã¤Â¿Â®Ã¨Â¡Å’ */

/* ------------------------------ */

/* Ã£â€šÂ«Ã£â€šÂ¹Ã£â€šÂ¿Ã£Æ’Â Ã£Æ’â€”Ã£Æ’Â­Ã£Æ’â€˜Ã£Æ’â€ Ã£â€šÂ£ */

/* ------------------------------ */

/* Ã£â€šÂ«Ã£Æ’Â©Ã£Æ’Â¼ */
:root {
    --color-bg-base: #fff;
    --color-bg-light: #eceff4;
    --color-bg-dark: #2d3440;
    --color-bg-button: #4c566a;
    --color-bg-button-hover: #2e3440;
    --color-bg-icon: #d8dee9;
    --color-icon: #5e81ac;
    --color-icon-light: #eceff4;
    --color-font-light: #eceff4;
    --color-font-base: #4c566a;
    --color-logo: #4c566a;
}

/* Ã£â€šÂ³Ã£Æ’Â³Ã£Æ’â€ Ã£Æ’Å Ã¥Â¹â€¦ */
 :root {
    --width-content: 1080px;
}

/* Ã£Æ’â€¢Ã£â€šÂ©Ã£Æ’Â³Ã£Æ’Ë† */
 :root {
    --font-family-base: "Noto Sans JP", sans-serif;
}

/* ------------------------------ */

/* Ã£Æ’ÂªÃ£â€šÂ»Ã£Æ’Æ’Ã£Æ’Ë†CSS */

/* ------------------------------ */
html {
    color: #000;
    background: #fff;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
fieldset,
img {
    border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}
ol,
ul {
    list-style: none;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before,
q:after {
    content: "";
}
abbr,
acronym {
    border: 0;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input,
textarea,
select,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    *font-size: 100%;
    border-radius: 0;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: inherit;
}
input,
textarea,
select {
    font-size: 16px;
}
textarea {
    resize: vertical;
    display: block;
}
button {
    padding: 0;
    cursor: pointer;
}
legend {
    color: #000;
}
main {
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
svg {
    display: block;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: border-box;
}

/* ------------------------------ */

/* Ã¥â€¦Â¨Ã¤Â½â€œÃ¥â€¦Â±Ã©â‚¬Å¡Ã£ÂÂ®Ã£â€šÂ¹Ã£â€šÂ¿Ã£â€šÂ¤Ã£Æ’Â« */

/* ------------------------------ */
html {
    background-color: var(--color-bg-base);
}
body {
    line-height: 1.75;
    font-size: 16px;
    color: var(--color-font-base);
    font-family: var(--font-family-base);
}
@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

/* ------------------------------ */

/* Ã£ÂÂ¡Ã£â€šâ€¡Ã£ÂÂ£Ã£ÂÂ¨Ã£Ââ€”Ã£ÂÅ¸Ã¤Â½Â¿Ã£Ââ€žÃ¥â€ºÅ¾Ã£Ââ„¢Ã£â€šÂ¹Ã£â€šÂ¿Ã£â€šÂ¤Ã£Æ’Â« */

/* ------------------------------ */
.u-visually-hidden {
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    margin: -1px !important;
}
header {
    background-color: #ECEFF4;
    width: 100%;
    padding: 15px 0;
    }

    .flex_box {
        display: flex;
        justify-content: space-between;
}
header img {
    width: 55px;
}
.inner {
    width: 90%;
    margin: 0 auto;
    }

    .size {
        color: #5E81AC;
    }

    .button {
        background-color: #4C566A;
        padding: 10px 30px;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
    }

    .main {
        background-color: #ECEFF4;

    }

    .main_ill {
        margin: 0 auto;
    }

    .main img {
        width: 65%;
        margin: 0 auto 30px;
        display: block;
    }

    .main h2 {
        font-weight: bold;
        font-size: 30px;
        margin: 0 0 30px;
    }

    .main_item p {
        margin-bottom: 30px;
    }

    .margin30 {
        margin-bottom: 30px;

    }

    .main_item {
        padding-bottom: 30px;
    }

    .button.margin30::after {
        content: "\f061";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        /* margin-left: 1rem; */
        position: absolute;
        right: 0.5rem;
    }

    .button.margin30 {
        position: relative;
        padding: 10px 80px;
    }

    .fa-check:before {
        content: "\f00c";
        margin-right: 0.7rem;
}